/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
/web/havealook/
/web/SonetINJSons/
/web/tmp/
/src/TEW/TPBundle/Resources/config/routing_old.yml
/src/TEW/TPBundle/Resources/config/doctrine/tmp/
/src/TEW/TPBundle/Resources/public/css/metisMenu.min.css
/src/TEW/TPBundle/Resources/public/css/sb-admin-2.css
/src/TEW/TPBundle/Resources/public/css/timeline.css
/src/TEW/TPBundle/Resources/public/js/metisMenu.min.js
/src/TEW/TPBundle/Resources/public/js/sb-admin-2.js
/_to_be_commited.txt
/composer_bak.json
/components/
/src/TEW/TPBundle/Entity/Document.php
/web/uploads/media/default/
/web/uploads/media/candidate/
/src/TEW/TPBundle/Resources/views/sb2-admin/
/src/TEW/TPBundle/Controller/TEWController.php
/src/TEW/TPBundle/Resources/sql/
/src/TEW/TPBundle/Resources/public/js/jquery.tagsinput_ori.js
/src/TEW/TPBundle/Resources/public/css/bootstrap.darkly.min.css
/src/TEW/TPBundle/Resources/public/css/bootstrap.flatly.min.css
/src/TEW/TPBundle/Resources/public/css/bootstrap.lumen.min.css
/src/TEW/TPBundle/Resources/views/Candidate/new.html_1.twig
/tmp/
/src/TEW/TPBundle/Resources/public/js/xregexp-all.js
/web/uploads/media/