{% extends "TEWTPBundle::layout.html.twig" %}

{% block title "TPs - Sample" %}

{% block content_header '' %}

{% block content %}
    {# <li><a href="{{ path('_tp_contact') }}">Send a Message</a></li> #}
    {% include 'TEWTPBundle::pagesample.html.twig' %}
{% endblock %}