<script>
    $(document).ready(function () {
        $('.addcommentrequest').click(function (event) {
            event.preventDefault();
            footer_div = $(this).parent('.modal-footer');
            form = footer_div.parent('form');
            content_div = form.children('.modal-body');
            modal = form.parents('.modal');
            tp_id = modal.attr('data-talentpool');
            comments_div = $('#comments'+tp_id); // in view.html.twig
            console.log('Posting to: ' + form.attr('action'));
            $.ajax({
                type: 'post',
                url: form.attr('action'),
                dataType: "json",
                data: form.serialize()
            })
            .done(function (data) {
                console.log(data);
                if (data.error > 0) {
                    alert(data.message);
                } else {
                    comment = '<span data-title="'+data.data.title+'<br><em>- by '+data.data.author+' on '+
                            data.data.date+'</em>" data-content="'+data.data.comment+
                            '" data-placement="top" data-trigger="hover" style="cursor:help" data-html="true" data-delay="{ "show": 500, "hide": 200 }" data-toggle="popover" data-original-title="" title="">'+
                            '<small>'+data.data.stars+'<em>'+data.data.date+'</em></small></span><br>';
                    // comments_div.children('span:first').before(comment);
                    comments_div.prepend(comment);
                    $('[data-toggle="popover"]').popover();                    
                }
                content = data.message;
                
            })
            .fail(function (jqXHR, textStatus, error) {
                alert("Communication issue (" + textStatus + ": " + error + ")");
            })
            .always(function () {
                console.log("ajax request succeeded");
            })
            .then(function () {
                footer_div.hide();
                content_div.html(content);
                setTimeout(function () {
                    modal.modal('hide');
                }, 2000);
            });
        });
    });
</script>

<!-- Currency conversion -->
<script type="text/javascript" src="http://currencyconverter.55uk.net/currency_converter_json.js"></script>
<script type="text/javascript">
function getMyRate(jData) {
        if (jData == null) {
                alert("There was a problem parsing search results.");
                return;
        }
        var myval = jData.ResultSet;
        $('.income').html($(myval).html());
}

function thisRate(xvalue,xfrom,xto) {
	if (xvalue > 0) {
		request = 'http://currencyconverter.55uk.net/currencyxml.json.php?xfrom='+xfrom+'&xto='+xto+'&xvalue='+xvalue+'&xround=true&callback=getMyRate&mydiv=xxdiv13123';
		aObj = new JSONscriptRequest(request);
                aObj.buildScriptTag();
		aObj.addScriptTag();
	}
}
</script>
	

<script>
    $('.currency').change(function(){
        incomedata = $(this).parents('.incomedata');
        income = incomedata.children('.income');
        currency = $(this).val();
        curr_ori = incomedata.children('.curr_ori').html();
        income_ori = incomedata.children('.income_ori').html();
        /*
        $.ajax({
                type: 'get',
                //url: 'http://www.google.com/ig/calculator?hl=en&q=1'+curr_ori+'=?'+currency,
                //url: 'http://www.webservicex.net/currencyconvertor.asmx/ConversionRate?FromCurrency='+curr_ori+'&ToCurrency='+currency,
                url: 'http://currencyconverter.55uk.net/currencyxml.json.php?xfrom='+curr_ori+'&xto='+currency+'&xvalue='+income,
                dataType: "jsonp",
                crossDomain: true,
            })
            .done(function (data) {
                console.log(data);
            }).fail(function (jqXHR, textStatus, error) {
                alert("Communication issue (" + textStatus + ": " + error + ")");
            });
        */
       income.html("<img src='{{asset('bundles/tewtp/images/icons/ajax-loader.gif')}}'>");
       thisRate(income_ori,curr_ori,currency);
    });
</script>