html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}


body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 10px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* Others */

.navbar-inverse {
    background-color: navy;
    border-color: yellow;
}

/* Popover */
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

/* Records */

.records_list {
    border: 1px solid white;
}
.records_list td {
    border: 1px solid;
    padding: 10px;
}

.record_properties {
    /*    margin: 10px;
        padding: 10px;*/
}
.record_properties td {
    /*    border: 1px solid;*/
    padding: 10px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #75caeb;
    border-color: #5fc1e8;
    color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}

li.warning > a,
li.warning > a:hover,
li.warning > a:focus {
    cursor: default;
    background-color: #fdd49a;
/*    border-color: #5fc1e8;
    color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;*/
}

/* Google place's dropdown above modal popups */
.modal {
    z-index: 10;
    top:50px;
    //right:50%;
    outline: none;
}
/*.modal-backdrop{
    z-index: 10;        
}​*/
.modal-dialog {
    z-index: 10000;
}
.pac-container {
    z-index: 9999 !important;
}

/* customizing form layout */
h1, .h1 {
    color: darkblue;
    font-size: 36px;
}
fieldset {
    padding-bottom: 5px;
    padding-top: 4px;
}
fieldset:hover {
    background-color: #fbfbfb;
    /*box-shadow: 2px 2px 5px #555555;*/
}
legend {
    color: darkblue;
}

label.required {
    color: red;
}