{% extends "TEWTPBundle::layout.html.twig" %}

{% block title "Symfony - TPs" %}

    {% block body %}
        <div class="jumbotron">
            <h1>Home</h1>
            <ul>
                <li>
                    Choose your working Talent Pool: <em>(select one of owner's TPs)</em>
                </li>
                <li>
                    <a href="{{ path('tew_talentpool_new') }}">Add</a> a new Talent Pool 
                </li>
            </ul>
        </div>
    {% endblock %}